/Aplicacion/venv/*
*/.idea/*
Aplicacion/spark_control/__pycache__/*
Aplicacion/kubernetes_control/__pycache__/*
Aplicacion/minikube/__pycache__/*
/Aplicacion/parsers/__pycache__/*
Aplicacion/spark/__pycache__/*
